<div class="card">
    

        <p-table #dt [value]="product" [rows]="10" 
       >
     
<ng-template pTemplate="header">
    <tr>
        <th colspan="6">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

        </th>
    </tr>
    <tr>
      
        <th pSortableColumn="category">Category </th>
        <th pSortableColumn="productName">productName</th>
        <th pSortableColumn="description">description</th>
        <th pSortableColumn="price">price </th>
        <th pSortableColumn="clothSize">clothSize</th>
        <th pSortableColumn="inStock">inStock</th>
        <th></th>
    </tr>
</ng-template>

<ng-template pTemplate="body" let-product>
    <tr>
        <td>{{product.category}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.clothSize}}</td>
        <td>{{product.inStock}}</td>

        <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
        </td>
    </tr>
</ng-template>
</p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        
       <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="boys" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">boys</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="girls" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">girls</label>
                </div>
               
            </div>
        </div>
        <br>
        <div class="p-field">
            <label for="productName">productName</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.productName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.name">productName is required.</small>
        </div>
        <br>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>
        <br>
        <div class="p-field p-col">
            <label for="price">Price</label>
            <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency"></p-inputNumber>
        </div>
        <br>
        <div class="p-field">
            <label class="p-mb-3">clothSize</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="clothSize" name="clothSize" value="xl" [(ngModel)]="product.clothSize"></p-radioButton>
                    <label for="clothSize">xl</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="clothSize" name="clothSize" value="l" [(ngModel)]="product.clothSize"></p-radioButton>
                    <label for="clothSize">l</label>
                </div>
               
            </div>
        </div>
        <div class="field col-4 " style="float:right ">
            <button pButton label="Add " pRipple (click)="addProduct() " class="btnaddemployee mb-2 "></button>
        </div>

       
    </ng-template>
</p-dialog>
    
