<div class="card">

 <p-table #dt [value]="users" [rows]="10">

  
       

    
        <ng-template pTemplate="header">
            <tr>
                <th colspan="12">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openDialog()"></button>

                </th>
            </tr>
            <tr>
              
                <th>firstName </th>
                <th>lastName</th>
                <th>hobbies</th>
                <th>gender</th>
                <th>city</th>
                <th>age</th>
                <th>image</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr>
               <td>{{users.firstName}}</td>
               <td>{{users.lastName}}</td>
               <td>{{users.hobbies}}</td>
               <td>{{users.gender}}</td>
               <td>{{users.city}}</td>
               <td>{{users.age}}</td>
               <td>{{users.image}}</td>
               <td>{{users.action}}</td>
               <td>
                   <img [src]="users.image" [alt]="users.image" width="100" class="shadow-4">
               </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" (click)="openDialog()" class="pedit"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteUser()" class="delete"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- -----------------------form---------------- -->

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="users Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="firstName">firstName</label>
            <input type="text" pInputText id="firstName" [(ngModel)]="userdata.firstName" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !userdata.firstName">firstName is required.</small>
        </div>
        <div class="p-field">
            <label for="lastName">lastName</label>
            <input type="text" pInputText id="lastName" [(ngModel)]="userdata.lastName" required autofocus />
        </div>
        <div class="field">
            <label class="mb-3 " for="hobbies">hobbies</label>
            <div class="formgrid grid ">
                <div class="field-checkbox col-12 ">
                    <p-checkbox name="hobbies" value="Music" label="Music" [(ngModel)]="selectedHobbies" class="hobby col-3"></p-checkbox>
                    <p-checkbox name="hobbies" value="Traveling" label="Traveling" [(ngModel)]="selectedHobbies" class="hobby col-3"></p-checkbox>
                    <p-checkbox name="hobbies" value="Cooking" label="Cooking" [(ngModel)]="selectedHobbies" class="hobby col-3"></p-checkbox>
                    <p-checkbox name="hobbies" value="Reading" label="Reading" [(ngModel)]="selectedHobbies" class="hobby col-3"></p-checkbox>
                    <p-checkbox name="hobbies" value="Movie" label="Movie" [(ngModel)]="selectedHobbies" class="hobby col-3"></p-checkbox>

                </div>
            </div>
        </div>

        <div class="p-field">
            <label class="p-mb-3">gender</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="male" name="male" value="male" label="male" [(ngModel)]="userdata.category"></p-radioButton>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="female" name="female" value="female" label="female" [(ngModel)]="userdata.category"></p-radioButton>
                </div>
            </div>
        </div>

        <div class="field">
            <p-dropdown #dd [options]="cities" [(ngModel)]="selectedCityName" optionLabel="name" optionValue="code" placeholder="----Select City----" (onChange)="onChangeCityValue($event,dd)">
            </p-dropdown>
        </div>

        <div class="field">
            <label for="age">Age</label>
            <input type="text" id="age" pInputText required [(ngModel)]="userdata.age" class="mb-3" />
        </div>

        <div class="field">
            <!-- <p-fileUpload name="myfile[]" (uploadHandler)="onimageUpload($event)"></p-fileUpload> -->
            <input type="file" (change)="onimageUpload()" accept="image/*" class="form-control" />
            <img [src]="userdata.image" (load)="handleImageLoad()" height="50%" width="20%" style="object-fit: cover;">
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<!-- saveuser=add/update  -->